<!-- skills -->
<div class="container mb-5">
  <div class="row align-items-center">
    <div class="col-1">
      <h2>Skills</h2>
    </div>
    <div class="col-3">
      <small (click)="showSkill=!showSkill" class="cursor text-primary">Add Skill</small>
    </div>
  </div>
  <!-- skill Form -->
  <form (ngSubmit)="sendSkill('skill')" [ngClass]="{none: !showSkill}" action="" class="mt-2" [formGroup]="skillForm">
    <div class="form-row">
      <div class="col-12 col-md-3">
        <input type="text" class="form-control" name="name" formControlName="name" placeholder="Name: Programming">
      </div>
      <div class="col-12 col-md-3">
        <input type="number" class="form-control" name="percentage" formControlName="percentage" placeholder="Percentage: 80">
      </div>
      <div class="col-12 col-md-3">
        <select class="form-control" name="color" formControlName="color">
          <option value="" disabled>Color Bar</option>
          <option class="text-primary" value="primary"> primary </option>
          <option class="text-secondary" value="secondary"> secondary </option>
          <option class="text-success" value="success"> success </option>
          <option class="text-danger" value="danger"> danger </option>
          <option class="text-warning" value="warning"> warning </option>
          <option class="text-info" value="info"> info </option>
        </select>
      </div>
      <div class="col-12 col-md-3">
        <button *ngIf="!loading" [disabled]="skillForm.invalid" type="submit" class="btn btn-info bt-lg"><i class="fas fa-plus"></i>
        </button>
        <button *ngIf="loading" [disabled]="skillForm.invalid" type="submit" class="btn btn-info bt-lg"><i class="fas fa-circle-notch fa-spin"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Skills view -->
  <div class="skill-wrapper mt-3 row">
    <!-- skills -->
    <div *ngFor="let skill of skills" class="skill-item col-7 mt-2">
      <label>{{skill.name}}</label> <button (click)="deleteSkill(skill)" class="cursor ml-5 btn btn-link"> <i class="fas fa-trash text-danger"></i></button>
      <div class="progress">
        <div [ngClass]="setBgColor(skill.color)" class="progress-bar" role="progressbar" [ngStyle]="{width: skill.percentage+'%'}"
          aria-valuemin="0" aria-valuemax="100"> {{skill.percentage}}%</div>
      </div>
    </div>
  </div>
</div>
<!-- Language -->
<div class="container mb-5">
  <div class="row align-items-center">
    <div class="col-2">
      <h2>Language</h2>
    </div>
    <div class="col-3">
      <small (click)="showLanguage=!showLanguage" class="cursor text-primary">Add language</small>
    </div>
  </div>
  <!-- form language -->
  <form (ngSubmit)="sendSkill('lan')" [ngClass]="{none: !showLanguage}" action="" class="mt-2" [formGroup]="lanForm">
    <div class="form-row">
      <div class="col-12 col-md-3">
        <input type="text" class="form-control" name="name" formControlName="name" placeholder="Name: Programming">
      </div>
      <div class="col-12 col-md-3">
        <input type="number" class="form-control" name="percentage" formControlName="percentage" placeholder="Percentage: 80">
      </div>
      <div class="col-12 col-md-3">
        <select class="form-control" name="color" formControlName="color">
          <option value="" disabled>Color Bar</option>
          <option class="text-primary" value="primary"> primary </option>
          <option class="text-secondary" value="secondary"> secondary </option>
          <option class="text-success" value="success"> success </option>
          <option class="text-danger" value="danger"> danger </option>
          <option class="text-warning" value="warning"> warning </option>
          <option class="text-info" value="info"> info </option>
        </select>
      </div>
      <div class="col-12 col-md-3">
        <button *ngIf="!loading" [disabled]="lanForm.invalid" type="submit" class="btn btn-info bt-lg"><i class="fas fa-plus"></i>
        </button>
        <button *ngIf="loading" [disabled]="lanForm.invalid" type="submit" class="btn btn-info bt-lg"><i class="fas fa-circle-notch fa-spin"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Language view -->
  <div class="skill-wrapper mt-3 row">
    <!-- Language -->
    <div *ngFor="let language of languages" class="skill-item col-7 mt-2">
      <label>{{language.name}}</label> <button (click)="deleteSkill(language)" class="cursor ml-5 btn btn-link"> <i class="fas fa-trash text-danger"></i></button>
      <div class="progress">
        <div [ngClass]="setBgColor(language.color)" class="progress-bar" role="progressbar" [ngStyle]="{width: language.percentage+'%'}"
          aria-valuemin="0" aria-valuemax="100"> {{language.percentage}}%</div>
      </div>
    </div>
  </div>
</div>
<!-- Tools -->
<div class="container mb-5">
  <div class="row align-items-center">
    <div class="col-1">
      <h2>Tools</h2>
    </div>
    <div class="col-3">
      <small (click)="showTool=!showTool" class="cursor text-primary">Add Tool</small>
    </div>
  </div>
  <!-- Tools Form -->
  <form (ngSubmit)="sendSkill('tool')" [ngClass]="{none: !showTool}" action="" class="mt-2" [formGroup]="toolForm">
    <div class="form-row">
      <div class="col-12 col-md-3">
        <input type="text" class="form-control" name="name" formControlName="name" placeholder="Name: Programming">
      </div>
      <div class="col-12 col-md-3">
        <input type="number" class="form-control" name="percentage" formControlName="percentage" placeholder="Percentage: 80">
      </div>
      <div class="col-12 col-md-3">
        <select class="form-control" name="color" formControlName="color">
          <option value="" disabled>Color Bar</option>
          <option class="text-primary" value="primary"> primary </option>
          <option class="text-secondary" value="secondary"> secondary </option>
          <option class="text-success" value="success"> success </option>
          <option class="text-danger" value="danger"> danger </option>
          <option class="text-warning" value="warning"> warning </option>
          <option class="text-info" value="info"> info </option>
        </select>
      </div>
      <div class="col-12 col-md-3">
        <button *ngIf="!loading" [disabled]="toolForm.invalid" type="submit" class="btn btn-info bt-lg"><i class="fas fa-plus"></i>
        </button>
        <button *ngIf="loading" [disabled]="toolForm.invalid" type="submit" class="btn btn-info bt-lg"><i class="fas fa-circle-notch fa-spin"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Tools view -->
  <div class="skill-wrapper mt-3 row">
    <!-- ngFor -->
    <div *ngFor="let tool of tools" class="skill-item col-7 mt-2">
        <label>{{tool.name}}</label> <button (click)="deleteSkill(tool)" class="cursor ml-5 btn btn-link"> <i class="fas fa-trash text-danger"></i></button>
        <div class="progress">
          <div [ngClass]="setBgColor(tool.color)" class="progress-bar" role="progressbar" [ngStyle]="{width: tool.percentage+'%'}"
            aria-valuemin="0" aria-valuemax="100"> {{tool.percentage}}%</div>
        </div>
      </div>
  </div>
</div>