<div class="full principal">
    <div class="content-wrapper">
      <h2 class="text-light">Registarse</h2>
      <div class="form-wrapper">
        <form (ngSubmit)="onSubmit(f.value)" class="row" #f="ngForm">
          <div class="form-group col-12">
            <label>Email</label>
            <input type="email" 
                   class="form-control" 
                   placeholder="Enter email"
                   ngModel
                   name="email"
                   required>
          </div>
          <div class="form-group col-12">
            <label>User</label>
            <input type="text" 
                   class="form-control" 
                   placeholder="User"
                   ngModel
                   name="user"
                   required>
          </div>
          <div class="form-group col-12">
            <label>Password</label>
            <input type="password" 
                   class="form-control" 
                   placeholder="Password"
                   ngModel
                   name="password"
                   required>
          </div>
          <button [disabled]="f.invalid" type="submit" class="btn btn-primary col-12">Crear Cuenta</button>
        </form>
        <div class="switch-container">
            <p class="font-weight-bold">Ya tienes cuenta?</p>
            <a [routerLink]="['/login']" class="font-weight-normal cursor">Click aqui</a>
        </div>
      </div>
    </div>
  </div>