<section class="main-view bg-light pb-3" [ngClass]="setBgColor(info.bgColor)">
  <!-- Contenedor del diseño -->
  <div class="row">
    <!-- first container -->
    <div class="col-12 col-lg-3 offset-lg-1 mt-3">
      <div class="main-container">
        <div [ngClass]="setBgColor(info.contColor)" class="shadow-sm rounded">
          <!-- Profile image -->
          <div class="profile-image">
            <img class="rounded-top" [src]="info.image" width="100%" alt="profile img">
            <p class="image-title text-white"><b>{{info.name}}</b> <small> - {{info.age}} years </small></p>
          </div>
          <!-- Personal Info -->
          <div class="row p-4">
            <p class="col-12"><i class="fas fa-briefcase" [ngClass]="setTxtColor(info.iconColor)"></i> <span [ngClass]="setTxtColor(info.txtColor)"
                class="ml-2">{{info.title}}</span>
            </p>
            <p class="col-12"><i class="fas fa-home" [ngClass]="setTxtColor(info.iconColor)"></i> <span [ngClass]="setTxtColor(info.txtColor)"
                class="ml-2">{{info.city}},{{info.country}}</span>
            </p>
            <p class="col-12"><i class="fas fa-envelope" [ngClass]="setTxtColor(info.iconColor)"></i> <span [ngClass]="setTxtColor(info.txtColor)"
                class="ml-2">{{info.email}}</span>
            </p>
            <p class="col-12"><i class="fas fa-mobile-alt" [ngClass]="setTxtColor(info.iconColor)"></i> <span [ngClass]="setTxtColor(info.txtColor)"
                class="ml-2">{{info.phone}}</span>
            </p>
            <div class="divider mt-2"></div>
          </div>
          <!-- skills -->
          <div class="row p-4">
            <h4><i class="fas fa-chart-bar" [ngClass]="setTxtColor(info.iconColor)"></i> <span [ngClass]="setTxtColor(info.titleColor)">
                Skills </span> </h4>
            <div *ngFor="let skill of skills" class="skill-item col-12 mt-2">
              <label [ngClass]="setTxtColor(info.txtColor)">{{skill.name}}</label>
              <div class="progress">
                <div [ngClass]="setBgColor(skill.color)" class="progress-bar" role="progressbar" [ngStyle]="{width: skill.percentage+'%'}"
                  aria-valuemin="0" aria-valuemax="100"> {{skill.percentage}}%</div>
              </div>
            </div>
            <div class="divider mt-4"></div>
          </div>
          <!-- Tools -->
          <div class="row p-4">
            <h4><i class="fas fa-toolbox" [ngClass]="setTxtColor(info.iconColor)"></i> <span [ngClass]="setTxtColor(info.titleColor)">
                Tools </span> </h4>
            <!-- ngFor -->
            <div *ngFor="let tool of tools" class="skill-item col-12 mt-2">
              <label [ngClass]="setTxtColor(info.txtColor)">{{tool.name}}</label>
              <div class="progress">
                  <div [ngClass]="setBgColor(tool.color)" class="progress-bar" role="progressbar" [ngStyle]="{width: tool.percentage+'%'}"
                    aria-valuemin="0" aria-valuemax="100"> {{tool.percentage}}%</div>
                </div>
            </div>
            <div class="divider mt-4"></div>
          </div>
          <!-- Language -->
          <div class="row p-4">
            <h4><i class="fas fa-language" [ngClass]="setTxtColor(info.iconColor)"></i> <span [ngClass]="setTxtColor(info.titleColor)">
                Language </span> </h4>
            <!-- ngFor -->
            <div *ngFor="let language of languages" class="skill-item col-12 mt-2">
              <label [ngClass]="setTxtColor(info.txtColor)">{{language.name}}</label>
              <div class="progress">
                  <div [ngClass]="setBgColor(language.color)" class="progress-bar" role="progressbar" [ngStyle]="{width: language.percentage+'%'}"
                    aria-valuemin="0" aria-valuemax="100"> {{language.percentage}}%</div>
                </div>
            </div>
            <div class="divider mt-4"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- second container -->
    <div class="col-12 col-lg-6 mt-3">
      <div class="main-container">
        <!-- Work Container -->
        <div [ngClass]="setBgColor(info.contColor)" class="shadow-sm rounded">
          <div class="row p4">
            <h3 class="col-8 m-4">
              <i class="fas fa-business-time mr-3" [ngClass]="setTxtColor(info.iconColor)"></i>
              <span [ngClass]="setTxtColor(info.titleColor)"> Work Experience </span>
            </h3>
            <div *ngFor="let work of works" class="work-item col-10 ml-5 mt-2">
              <label [ngClass]="setTxtColor(info.txtColor)">{{work.position}} / {{work.place}}</label>
              <div class="row">
                <div class="col-7">
                  <i class="fas fa-calendar mr-3" [ngClass]="setTxtColor(info.iconColor)"></i> 
                  <span [ngClass]="setTxtColor(info.iconColor)">
                      {{work.startDate | date:'mediumDate'}} - {{work.endDate | date:'mediumDate'}}
                  </span>
                </div>
                <div class="col-12">
                  <p class="mt-2 ml-3" [ngClass]="setTxtColor(info.txtColor)">
                      {{work.description}}
                  </p>
                </div>
              </div>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
        <!-- Education Container -->
        <div [ngClass]="setBgColor(info.contColor)" class="shadow-sm rounded mt-3">
          <div class="row p4">
            <h3 class="col-8 m-4">
              <i class="fas fa-graduation-cap mr-3" [ngClass]="setTxtColor(info.iconColor)"></i>
              <span [ngClass]="setTxtColor(info.titleColor)"> Education </span>
            </h3>
            <!-- ngFor -->
            <div *ngFor="let education of educations" class="work-item col-10 ml-5 mt-2">
              <label [ngClass]="setTxtColor(info.txtColor)">{{education.title}} / {{education.place}}</label>
              <div class="row">
                <div class="col-7">
                  <i class="fas fa-calendar mr-3" [ngClass]="setTxtColor(info.iconColor)"></i> <span [ngClass]="setTxtColor(info.iconColor)">
                      {{education.startDate | date:'mediumDate'}} - {{education.endDate | date:'mediumDate'}}</span>
                </div>
                <div class="col-12">
                  <p class="mt-2 ml-3" [ngClass]="setTxtColor(info.txtColor)">
                 {{education.description}}
                  </p>
                </div>
              </div>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
        <!-- Portfolio Container -->
        <div [ngClass]="setBgColor(info.contColor)" class="shadow-sm rounded mt-3 mb-3">
          <div class="row p4">
            <h3 class="col-8 m-4">
              <i class="fas fa-folder-open mr-3" [ngClass]="setTxtColor(info.iconColor)"></i>
              <span [ngClass]="setTxtColor(info.titleColor)"> Portfolio </span>
            </h3>
            <div class="portfolio-wrapper col-12 mt-2 ml-5 row">
              <!-- ngFor -->
              <a *ngFor="let portfolio of portfolios" class="cursor col-lg-6 col-12 mt-3" [href]="portfolio.url" target="_blank">
                <div class="container-img">
                  <img [src]="portfolio.img" [alt]="portfolio.imgName" class="image">
                  <div class="overlay">{{portfolio.name}}</div>
                </div>
              </a>
            </div>
            <div class="mt-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="view-footer bg-info">
  <span [ngClass]="setTxtColor(info.socColor)"> Find me on social media.</span>
  <div class="social-wrapper">
    <a *ngIf="info.facebook != null" target="_blank" [href]="info.facebook"> <i class="fab fa-facebook " [ngClass]="setTxtColor(info.socColor)"></i> </a>
    <a *ngIf="info.pinterest != null" target="_blank" [href]="info.pinterest"> <i class="fab fa-pinterest-square " [ngClass]="setTxtColor(info.socColor)"></i> </a>
    <a *ngIf="info.instagram != null" target="_blank" [href]="info.instagram"> <i class="fab fa-instagram " [ngClass]="setTxtColor(info.socColor)"></i> </a>
    <a *ngIf="info.twitter != null" target="_blank" [href]="info.twitter"> <i class="fab fa-twitter " [ngClass]="setTxtColor(info.socColor)"></i> </a>
    <a *ngIf="info.linkedin != null" target="_blank" [href]="info.linkedin"> <i class="fab fa-linkedin-in " [ngClass]="setTxtColor(info.socColor)"></i> </a>
    <a *ngIf="info.github != null" target="_blank" [href]="info.github"> <i class="fab fa-github " [ngClass]="setTxtColor(info.socColor)"></i> </a>
  </div>
  <p [ngClass]="setTxtColor(info.socColor)"> Powered by <a [ngClass]="setTxtColor(info.socColor)" href=""> Eduardo
      Sánchez </a> </p>
</footer>