<section class="main-view bg-light">
  <!-- Contenedor del diseño -->
  <div class="row">
    <!-- first container -->
    <div class="col-12 col-lg-3 offset-lg-1 mt-3">
      <div class="main-container">
        <div class="bg-white shadow-sm rounded">
          <!-- Profile image -->
          <div class="profile-image">
            <img class="rounded-top" src="https://crowcl52.github.io/cv-page/assets/perfil.jpg" width="100%" alt="profile img">
            <h4 class="image-title text-white"><b>Eduardo Sánchez</b> <small> - 24 years </small></h4>
          </div>
          <!-- Personal Info -->
          <div class="row p-4">
            <p class="col-12"><i class="fas fa-briefcase text-info"></i> <span class="text-dark ml-2">Programmer</span>
            </p>
            <p class="col-12"><i class="fas fa-home text-info"></i> <span class="text-dark ml-2">Guadalajara,Mex</span>
            </p>
            <p class="col-12"><i class="fas fa-envelope text-info"></i> <span class="text-dark ml-2">ex@mail.com</span>
            </p>
            <p class="col-12"><i class="fas fa-mobile-alt text-info"></i> <span class="text-dark ml-2">333-333-333</span>
            </p>
            <div class="divider mt-2"></div>
          </div>
          <!-- skills -->
          <div class="row p-4">
            <h4><i class="fas fa-chart-bar text-info"></i> <span class="text-dark"> Skills </span> </h4>
            <!-- ngFor -->
            <div class="skill-item col-12 mt-2">
              <label>Programming</label>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100">25%</div>
              </div>
            </div>
            <div class="skill-item col-12 mt-2">
              <label>Programming</label>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100">25%</div>
              </div>
            </div>
            <div class="divider mt-4"></div>
          </div>
          <!-- Tools -->
          <div class="row p-4">
            <h4><i class="fas fa-toolbox text-info"></i> <span class="text-dark"> Tools </span> </h4>
            <!-- ngFor -->
            <div class="skill-item col-12 mt-2">
              <label>Photoshop</label>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100">25%</div>
              </div>
            </div>
            <div class="skill-item col-12 mt-2">
              <label>Visual Studio</label>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100">25%</div>
              </div>
            </div>
            <div class="divider mt-4"></div>
          </div>
          <!-- Language -->
          <div class="row p-4">
            <h4><i class="fas fa-language text-info"></i> <span class="text-dark"> Language </span> </h4>
            <!-- ngFor -->
            <div class="skill-item col-12 mt-2">
              <label>Spanish</label>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100">25%</div>
              </div>
            </div>
            <div class="skill-item col-12 mt-2">
              <label>English</label>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                  aria-valuemax="100">25%</div>
              </div>
            </div>
            <div class="divider mt-4"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- second container -->
    <div class="col-12 col-lg-6 mt-3">
      <div class="main-container">
        <!-- Work Container -->
        <div class="bg-white shadow-sm rounded">
          <div class="row p4">
            <h3 class="col-8 m-4">
              <i class="fas fa-business-time text-info mr-3"></i>
              <span class="text-dark"> Work Experience </span>
            </h3>
            <!-- ngFor -->
            <div class="work-item col-10 ml-5 mt-2">
              <label>Programming / Hp Inc.</label>
              <div class="row">
                <div class="col-7">
                  <i class="fas fa-calendar text-info mr-3"></i> <span class="text-info"> Dec/2012 - Octuber/2015</span>
                </div>
                <div class="col7">
                  <p class="mt-2 ml-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque itaque voluptatibus provident
                    natus
                    nobis possimus debitis harum,
                    molestiae sapiente, ullam explicabo laudantium fugiat a! Eligendi reiciendis ad tempora illum
                    quisquam!
                  </p>
                </div>
              </div>
              <div class="dropdown-divider"></div>
            </div>
            <div class="work-item col-10 ml-5 mt-2">
              <label>Programming / Hp Inc.</label>
              <div class="row">
                <div class="col-7">
                  <i class="fas fa-calendar text-info mr-3"></i> <span class="text-info"> Dec/2012 - Octuber/2015</span>
                </div>
                <div class="col7">
                  <p class="mt-2 ml-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque itaque voluptatibus provident
                    natus
                    nobis possimus debitis harum,
                    molestiae sapiente, ullam explicabo laudantium fugiat a! Eligendi reiciendis ad tempora illum
                    quisquam!
                  </p>
                </div>
              </div>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
        <!-- Education Container -->
        <div class="bg-white shadow-sm rounded mt-3">
          <div class="row p4">
            <h3 class="col-8 m-4">
              <i class="fas fa-business-time text-info mr-3"></i>
              <span class="text-dark"> Education </span>
            </h3>
            <!-- ngFor -->
            <div class="work-item col-10 ml-5 mt-2">
              <label>Programming / Hp Inc.</label>
              <div class="row">
                <div class="col-7">
                  <i class="fas fa-calendar text-info mr-3"></i> <span class="text-info"> Dec/2012 - Octuber/2015</span>
                </div>
                <div class="col7">
                  <p class="mt-2 ml-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque itaque voluptatibus provident
                    natus
                    nobis possimus debitis harum,
                    molestiae sapiente, ullam explicabo laudantium fugiat a! Eligendi reiciendis ad tempora illum
                    quisquam!
                  </p>
                </div>
              </div>
              <div class="dropdown-divider"></div>
            </div>
            <div class="work-item col-10 ml-5 mt-2">
              <label>Programming / Hp Inc.</label>
              <div class="row">
                <div class="col-7">
                  <i class="fas fa-calendar text-info mr-3"></i> <span class="text-info"> Dec/2012 - Octuber/2015</span>
                </div>
                <div class="col7">
                  <p class="mt-2 ml-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque itaque voluptatibus provident
                    natus
                    nobis possimus debitis harum,
                    molestiae sapiente, ullam explicabo laudantium fugiat a! Eligendi reiciendis ad tempora illum
                    quisquam!
                  </p>
                </div>
              </div>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
        <!-- Portfolio Container -->
        <div class="bg-white shadow-sm rounded mt-3 mb-3">
          <div class="row p4">
            <h3 class="col-8 m-4">
              <i class="fas fa-folder-open text-info mr-3"></i>
              <span class="text-dark"> Portfolio </span>
            </h3>
            <div class="portfolio-wrapper col-12 mt-2 ml-5 row">
              <!-- ngFor -->
              <a class="cursor col-lg-6 col-12 mt-3">
                <div class="container-img">
                  <img src="./assets/login.jpg" alt="Avatar" class="image">
                  <div class="overlay">Dashbord</div>
                </div>
              </a>
              <a class="cursor col-lg-6 col-12 mt-3">
                <div class="container-img">
                  <img src="./assets/login.jpg" alt="Avatar" class="image">
                  <div class="overlay">Dashbord</div>
                </div>
              </a>
              <a class="cursor col-lg-6 col-12 mt-3">
                <div class="container-img">
                  <img src="./assets/login.jpg" alt="Avatar" class="image">
                  <div class="overlay">Dashbord</div>
                </div>
              </a>
              <a class="cursor col-lg-6 col-12 mt-3">
                <div class="container-img">
                  <img src="./assets/login.jpg" alt="Avatar" class="image">
                  <div class="overlay">Dashbord</div>
                </div>
              </a>
            </div>
            <div class="mt-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="view-footer bg-info">
  <span class="text-white"> Find me on social media.</span>
  <div class="social-wrapper">
      <a href=""> <i class="fab fa-facebook text-white"></i> </a>
      <a href=""> <i class="fab fa-pinterest-square text-white"></i> </a>
      <a href=""> <i class="fab fa-instagram text-white"></i> </a>
      <a href=""> <i class="fab fa-twitter text-white"></i> </a>
      <a href=""> <i class="fab fa-linkedin-in text-white"></i> </a>
      <a href=""> <i class="fab fa-github text-white"></i> </a>
  </div>
  <p class="text-white"> Powered by <a class="text-white" href=""> Eduardo Sánchez </a> </p>
</footer>