<!-- skills -->
<div class="container mb-5">
  <div class="row align-items-center">
    <div class="col-2">
      <h2>Works</h2>
    </div>
    <div class="col-3">
      <small (click)="showWork=!showWork" class="cursor text-primary">Add Work</small>
    </div>
  </div>
  <!-- formulario de contacto -->
  <form (ngSubmit)="sendWork()" [ngClass]="{none: !showWork}"  class="mt-2" [formGroup]="workForm">
    <div class="form-row">
      <div class="col-12 col-md-3">
        <label for="position">Position</label>
        <input type="text" class="form-control" name="position"  placeholder="ejem. Web Developer" formControlName="position" >
      </div>
      <div class="col-12 col-md-3">
        <label for="place">Place</label>
        <input type="text" class="form-control" name="place"  placeholder="ejem. Intell" formControlName="place">
      </div>
      <div class="col-12 col-md-3">
        <label for="date">Start Date</label>
        <input type="date" class="form-control" name="startDate" formControlName="startDate">
      </div>
      <div class="col-12 col-md-3">
        <label for="date">Finish Date</label>
        <input type="date" class="form-control" name="endDate" formControlName="endDate">
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col-12 col-md-11">
        <textarea placeholder="description" class="form-control"  rows="1" name="description" formControlName="description"></textarea>
      </div>
      <div class="col-12 col-md-1">
        <button *ngIf="!loading" [disabled]="workForm.invalid" type="submit" class="btn btn-info bt-lg"><i class="fas fa-plus"></i>
        </button>
        <button *ngIf="loading" [disabled]="workForm.invalid" type="submit" class="btn btn-info bt-lg"><i class="fas fa-circle-notch fa-spin"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Work view -->
  <div class="work-wrapper mt-3 row">
    <!-- list works -->
    <div *ngFor="let work of works" class="work-item col-7 mt-2">
      <label>{{work.position}} / {{work.place}}</label> <button (click)="deleteWork(work)" class="cursor ml-5 btn btn-link"> <i class="fas fa-trash text-danger"></i></button>
      <div class="row">
        <div class="col-7">
          <i class="fas fa-calendar text-info mr-3"></i> <span class="text-info"> {{work.startDate | date:'mediumDate'}} - {{work.endDate | date:'mediumDate'}}</span>
        </div>
        <div class="col-12">
          <p class="mt-2 ml-3">
            {{work.description}}
          </p>
        </div>
      </div>
      <div class="dropdown-divider"></div>
    </div>
  </div>
</div>