<div class="container mb-5">
  <h2>Personal Information</h2>
  
  <!-- Image -->
  <div class="image-wrapper">
    <div class="form-group">
      <label for="exampleFormControlFile1">Profile Image</label> <br>
      <small class="text-muted">Click on image to edit</small>
      <input type="file" class="form-control-file none" id="profileImg" (change)="cambio($event,'img_destino')" accept="image/x-png,image/jpeg">
    </div>
    <div class="image-container cursor" (click)="clickInput('profileImg')">
      <i *ngIf="!change" class="fas fa-plus-circle fa-10x text-primary"></i>
      <img id="img_destino" *ngIf="change" [src]="image" alt="img" class="picture img-thumbnail">
    </div>
  </div>
  
  <!-- formulario de contacto -->
  <form (ngSubmit)="sendInfo()" [formGroup]="infoForm">
    <div class="form-row">
      <div class="col">
        <label for="Name">Name</label>
        <input type="text" class="form-control" name="name" formControlName="name" placeholder="ejem. John Doe">
        <small class="text-muted">Required</small>
      </div>
      <div class="col">
        <label for="Name">Title</label>
        <input type="text" class="form-control" name="title" formControlName="title" placeholder="ejem. Engineer">
        <small class="text-muted">Required</small>
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" formControlName="email" placeholder="ejem. email@gmail.com">
        <small class="text-muted">Required</small>
      </div>
      <div class="col">
        <label for="Name">Country</label>
        <input type="text" class="form-control" name="country" formControlName="country" placeholder="ejem. México">
        <small class="text-muted">Required</small>
      </div>
      <div class="col">
        <label for="Name">City</label>
        <input type="text" class="form-control" name="city" formControlName="city" placeholder="ejem. Guadalajara">
        <small class="text-muted">Required</small>
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col">
        <label for="age">Age</label>
        <input type="number" class="form-control" name="age" formControlName="age" placeholder="ejem. 22">
        <small class="text-muted">Required</small>
      </div>
      <div class="col">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" name="phone" formControlName="phone" placeholder="ejem. 333-333-333">
        <small class="text-muted">Required</small>
      </div>
    </div>

    <!-- Social information -->
    <h2 class="mt-5">Social Links</h2>
    <div class="form-row">
      <div class="col">
        <label class="sr-only" for="facebook">Url</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"> <i class="fab fa-facebook"></i> </div>
          </div>
          <input type="text" formControlName="facebook" class="form-control" placeholder="Url">
        </div>
      </div>
      <div class="col">
        <label class="sr-only" for="inlineFormInputGroup">Url</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"> <i class="fab fa-pinterest-square"></i></div>
          </div>
          <input type="text" formControlName="pinterest" class="form-control" placeholder="Url">
        </div>
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col">
        <label class="sr-only" for="facebook">Url</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"> <i class="fab fa-instagram"></i> </div>
          </div>
          <input type="text" formControlName="instagram" class="form-control" placeholder="Url">
        </div>
      </div>
      <div class="col">
        <label class="sr-only" for="facebook">Url</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"> <i class="fab fa-twitter"></i> </div>
          </div>
          <input type="text" formControlName="twitter" class="form-control" placeholder="Url">
        </div>
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col">
        <label class="sr-only" for="facebook">Url</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"> <i class="fab fa-linkedin-in"></i> </div>
          </div>
          <input type="text" formControlName="linkedin" class="form-control" placeholder="Url">
        </div>
      </div>
      <div class="col">
        <label class="sr-only" for="facebook">Url</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text"> <i class="fab fa-github"></i> </div>
          </div>
          <input type="text" formControlName="github" class="form-control" placeholder="Url">
        </div>
      </div>
    </div>


    <!-- Style information -->
    <h2 class="mt-5">General Style</h2>
    <div class="form-row">
      <div class="col">
        <label for="background">Background Color</label>
        <select class="form-control" name="background" formControlName="bgColor">
          <option class="bg-dark text-white" value="white"> white</option>
          <option class="text-primary" value="primary"> primary </option>
          <option class="text-secondary" value="secondary"> secondary </option>
          <option class="text-success" value="success"> success </option>
          <option class="text-danger" value="danger"> danger </option>
          <option class="text-warning" value="warning"> warning </option>
          <option class="text-info" value="info"> info </option>
          <option class="bg-dark text-light" value="light"> light </option>
          <option class="text-dark" value="dark"> dark </option>
        </select>
      </div>
      <div class="col">
        <label for="container">Containers Color</label>
        <select formControlName="contColor" class="form-control" name="container">
          <option class="bg-dark text-white" value="white"> white</option>
          <option class="text-primary" value="primary"> primary </option>
          <option class="text-secondary" value="secondary"> secondary </option>
          <option class="text-success" value="success"> success </option>
          <option class="text-danger" value="danger"> danger </option>
          <option class="text-warning" value="warning"> warning </option>
          <option class="text-info" value="info"> info </option>
          <option class="bg-dark text-light" value="light"> light </option>
          <option class="text-dark" value="dark"> dark </option>
        </select>
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col">
        <label for="title">Titles Color</label>
        <select formControlName="titleColor" class="form-control" name="background">
          <option class="bg-dark text-white" value="white"> white</option>
          <option class="text-primary" value="primary"> primary </option>
          <option class="text-secondary" value="secondary"> secondary </option>
          <option class="text-success" value="success"> success </option>
          <option class="text-danger" value="danger"> danger </option>
          <option class="text-warning" value="warning"> warning </option>
          <option class="text-info" value="info"> info </option>
          <option class="bg-dark text-light" value="light"> light </option>
          <option class="text-dark" value="dark"> dark </option>
        </select>
      </div>
      <div class="col">
        <label for="text">Texts Color</label>
        <select formControlName="txtColor" class="form-control" name="container">
          <option class="bg-dark text-white" value="white"> white</option>
          <option class="text-primary" value="primary"> primary </option>
          <option class="text-secondary" value="secondary"> secondary </option>
          <option class="text-success" value="success"> success </option>
          <option class="text-danger" value="danger"> danger </option>
          <option class="text-warning" value="warning"> warning </option>
          <option class="text-info" value="info"> info </option>
          <option class="bg-dark text-light" value="light"> light </option>
          <option class="text-dark" value="dark"> dark </option>
        </select>
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col">
        <label for="title">Footer Color</label>
        <select formControlName="fooColor" class="form-control" name="background">
          <option class="bg-dark text-white" value="white"> white</option>
          <option class="text-primary" value="primary"> primary </option>
          <option class="text-secondary" value="secondary"> secondary </option>
          <option class="text-success" value="success"> success </option>
          <option class="text-danger" value="danger"> danger </option>
          <option class="text-warning" value="warning"> warning </option>
          <option class="text-info" value="info"> info </option>
          <option class="bg-dark text-light" value="light"> light </option>
          <option class="text-dark" value="dark"> dark </option>
        </select>
      </div>
      <div class="col">
        <label  for="text">Social Color</label>
        <select formControlName="socColor" class="form-control" name="container">
          <option class="bg-dark text-white" value="white"> white</option>
          <option class="text-primary" value="primary"> primary </option>
          <option class="text-secondary" value="secondary"> secondary </option>
          <option class="text-success" value="success"> success </option>
          <option class="text-danger" value="danger"> danger </option>
          <option class="text-warning" value="warning"> warning </option>
          <option class="text-info" value="info"> info </option>
          <option class="bg-dark text-light" value="light"> light </option>
          <option class="text-dark" value="dark"> dark </option>
        </select>
      </div>
    </div>
    <div class="form-row mt-3">
      <div class="col-6">
        <label for="title">Icons Color</label>
        <select formControlName="iconColor" class="form-control" name="background">
          <option class="bg-dark text-white" value="white"> white</option>
          <option class="text-primary" value="primary"> primary </option>
          <option class="text-secondary" value="secondary"> secondary </option>
          <option class="text-success" value="success"> success </option>
          <option class="text-danger" value="danger"> danger </option>
          <option class="text-warning" value="warning"> warning </option>
          <option class="text-info" value="info"> info </option>
          <option class="bg-dark text-light" value="light"> light </option>
          <option class="text-dark" value="dark"> dark </option>
        </select>
      </div>
    </div>
    <div class="send-info">
        <button *ngIf="!loading" [disabled]="(infoForm.invalid)" type="submit" [ngClass]="{pulse: infoForm.valid}" class="btn btn-outline-dark bt-lg animated infinite">
          Send Info
        </button>
        <button *ngIf="loading" disabled type="submit" class="btn btn-outline-dark bt-lg"><i class="fas fa-circle-notch fa-spin"></i>
        </button>
    </div>
  </form>
</div>