/* You can add global styles to this file, and also import other style files */
:root {
    --main-black-color: rgb(54,58,69); 
    --main-blue-color: rgb(44,149,153); 
    --main-green-color: rgb(121,201,66); 
}

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

p,span,button,input,a{
    font-family: 'Lato', sans-serif !important;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat Alternates', sans-serif !important;
}

.over-hide{
    overflow-x: hidden;
}

.full{
    width: 100%;
    height: 100%;
}

.cursor{
    cursor: pointer;
}

.none{
    display: none;
}